name: update MkDocs

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x  # choose your Python version
      - run: pip install mkdocs mkdocs-material mkdocs-video mkdocstrings mkdocstrings-python pygments pymdown-extensions 
      - run: mkdocs gh-deploy --force